.container {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px auto;
  width: 90%;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

.description {
  text-align: left;
}

.sign-in {
  text-align: center;
}

.title {
  margin-top: 0;
  padding-top: 0;
}

.bulletin {
  background-color: #0078e7;
  color: white;
  padding: 20px;
  font-size: 4em;
  height: 650px;
}

.bulletin .text-area {
  height: 400px;
}

.bulletin .details {
  height: 200px;
}
.bulletin .contributor {
  font-size: .8em;
}

.bulletin .expiration {
  font-size: .8em;
}

.bulletin p {
  margin: 20px;
}