.container {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
}
th {
  text-align: left;
}

.description {
  text-align: left;
}

.sign-in {
  text-align: center;
}

.bulletin {
  background-color: #0078e7;
  color: white;
  padding: 20px;
  font-size: 1.8em;
}

.bulletin .contributor {
  font-size: .8em;
}

.bulletin .expiration {
  font-size: .8em;
}