<div class='bulletin'>
  <div class='text-area'>
    <p class='text'><%=post.text%></p>
  </div>
  <div class='details'>
    <p class='contributor'>Posted by <%=post.contributor.name%> on <%=post.start_date.strftime('%B %d')%></p>
    <p class='expiration'>This bulletin will expire on <%=post.end_date.strftime('%B %d at %I:%M%p')%></p>
  </div>
</div>