<div class='container'>
<div class='title pure-u-1'>
  <h1><%=@board.title %></h1>
</div>
<div class='pure-u-1'>
  <% if @board.posts.empty? %>
  <p>This board doesn't have any posts yet.</p>
  <% else %>
  <%= erb :_bulletin, layout: false, locals: {post: @board.next_post} %>
  <% end %>
</div>
</div>