<header class='pure-g container'>
  <div class='pure-u-4-5'>
    <h1>Twitter Bulletin Board</h1>
  </div>
  <div class='pure-u-1-5'>
    <% if logged_in? %>
    <form action='/sign_out' method='get'><input class='pure-button pure-button-primary' type='submit' value='Sign Out'></form>
    <% end %>
  </div>
</header>
<div class='container pure-g'>
<div class='pure-u-1'>
  <h2>Title your bulletin board for @<%=@board.twitter_name%></h2>
</div>
<div class='pure-u-1'>
  <form class='pure-form pure-form-stacked' action='/board/<%=@board.twitter_name%>/edit' method='post'>
    <label>Title<input type='text' placeholder="Title" name='board[title]'></label>
    <label>Description<input type='text' placeholder="Description" name='board[description]'></label>
    <input class='pure-button pure-button-primary pure-button-xlarge' type='submit' value='Create a new board'>
  </form>
</div>
</div>